/* 基本樣式設定 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* 背景色改為白色 */
    color: #333; /* 文字顏色改為深灰色 */
}

/* 新的NAV樣式 */
nav {
    background-color: #fff; /* 背景色改為白色 */
    color: #333; /* 文字顏色改為深灰色 */
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 10px; /* 圓角 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 陰影效果 */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}

/* 漢堡選單樣式 */
#nav-toggle {
    display: none;
}

#nav-icon {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

#nav-toggle:checked + #nav-icon .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

#nav-toggle:checked + #nav-icon .bar:nth-child(2) {
    opacity: 0;
}

#nav-toggle:checked + #nav-icon .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* 其他樣式規則 */
