/* 基本樣式 */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    font-size: 16px;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: white;
    text-align: center;
    padding: none;
}

nav ul {
    list-style: none;
    padding: 0;
}

/* 修改分類按鈕樣式 */
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none; /* 去除底線 */
    color: black; /* 黑色文字 */
    transition: color 0.3s; /* 平滑過渡顏色變化 */
    font-size: 24px;
}

/* 鼠標懸停時的樣式 */
nav ul li a:hover {
    color: gray; /* 灰色文字 */
}


.section {
    margin-bottom: 30px;
    text-align: left;
    display: inline-block; /* 讓分頁內容置中時保持在一行 */
    max-width: 1000px;
}

.section-title {
    font-size: 30px; /* 將標題文字大小設置為18像素 */
    text-align: left; /* 避免分頁內容文字置中 */
    max-width: 1000px;
}

.section-image {
    max-width: none; /* 清除最大寬度限制，以便圖片可以根據高度自動調整寬度 */
    height: 140px; /* 設置圖片的高度為60像素 */
    width: auto; /* 寬度自動調整，以保持圖片的原始比例 */
}

footer {
    background-color: white;
    text-align: center;
    padding: auto;
}

footer img {
    height: 30px;
    margin-right: 10px;
}

/* 響應式設計 - 螢幕寬度小於768px時 */
@media screen and (max-width: 768px) {

    nav ul {
        text-align: center; /* 將按鈕置中 */
    }

    nav ul li {
        display: inline-block; /* 使按鈕橫向顯示在同一行 */
        margin: 8px; /* 設置按鈕間距為10px */
    }

    nav ul li a {
        font-size: 16px;
    }

    .content {
        text-align: center; /* 將分頁內容置中 */
    }

    .section {
        margin-bottom: auto;
    }

    .section-image {
        max-width: 100%;
        height: auto;
    }
}
